.forwardIcon {
  margin-top: 1vh;
  margin-right:95vw;
}

.flipHorzImg {
  -moz-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title{
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 3.6rem;
}

.rect {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 70rem;
  margin-top: 3rem;
}